<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pizza Ordering System</title>
</head>
<body>
<h1>Customer Information</h1>
<label>Name and Surname</label><br>
<input type = "text"/><br>
<label>Address</label><br>
<input type = "address"/><br>
<br>

<h2>Pizza Type</h2>
<form action="" method="">
    <input type="radio" name="pizza" value="Option"> Marine Pizza <br>
    <input type="radio" name="pizza" value="Option"> Mixed Pizza <br>
    <input type="radio" name="pizza" value="Option"> Sicilian <br>
    <input type="radio" name="pizza" value="Option"> Napoliten <br>
</form><br>
<br>
    <h2>Additions</h2>
<form action="" method="">
    <input type="checkbox" name="topping" value="Option"> Green Pepper <br>
    <input type="checkbox" name="topping" value="Option"> Mushroom <br>
    <input type="checkbox" name="topping" value="Option"> Tomato <br>
    <input type="checkbox" name="topping" value="Option"> Pickles <br>
    <input type="checkbox" name="topping" value="Option"> Olives <br>
</form><br>
<br>

    <form action="">
 Unit Price:<br>
 <input type="text" name="price" value="">
 <br>
 # of Units:<br>
 <input type="text" name="units" value="">
 <br>
 Calories:<br>
 <input type="text" name="calories" value="">
 <br>
 Total:<br>
 <input type="text" name="total" value=""><br>
 <br>

<button type="button" onclick="alert('Hello')">Insert Order</button>
<button type="button" onclick="alert('Hello')">New Order</button>
<button type="button" onclick="alert('Hello')">New Customer</button>
<button type="button" onclick="alert('Hello')">Delete Order</button>
<br>



</form>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<table>
  <tr>
    <th>Pizza</th>
    <th># of Unit</th>
    <th>Unit Price</th>
    <th>Total</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

</body>
</html>