<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pizza Ordering System</title>
</head>
<body>
<h1>Customer Information</h1>
<form action="/htmlkode" method="POST">
<label>Name and Surname</label><br>
<input type = "text"/><br>
<label>Address</label><br>
<input type = "address"/><br>
<br>
<img src="https://storage.googleapis.com/lcbc-assets/images/IChoose__1600x900-SeriesHero.jpg?mtime=20180928111132" id="pizzaPicture" width=300>

    <input type="radio" name="radio1" onClick="ChangePicture();" value="Ma">Marine
    <input type="radio" name="radio1" onClick="ChangePicture();" value="Mp">Mixed
    <input type="radio" name="radio1" onClick="ChangePicture();" value="Sic">Sicilian
    <input type="radio" name="radio1" onClick="ChangePicture();" value="Nap">Napoliten




    <h2>Additions</h2>
    <input class="toppings" type="checkbox" onchange="additions(this, '.25')" value="GP" name="Green_Pepper"> Green Pepper <br>
    <input class="toppings" type="checkbox" onchange="additions(this, '.25')" value="Mu" name="Mushroom"> Mushroom <br>
    <input class="toppings" type="checkbox" onchange="additions(this, '.25')" value="To" name="Tomato"> Tomato <br>
    <input class="toppings" type="checkbox" onchange="additions(this, '.25')" value="Pi" name="Pickles"> Pickles <br>
    <input class="toppings" type="checkbox"
           onchange="additions(this, '.25')" value="Oli" name="Olives"> Olives <br>
<br>
<br>


 Unit Price:<br>
 <input type="text" name="UnitPrice" value="" id="Price">
 <br>
 # of Units:<br>
 <select id="Number" name="UnitNumber" onchange="calcTotal()">
  <option value="1" selected>1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
</select>
 <br>
 Total:<br>
 <input type="text" name="Totals" value="" id="total"><br>
 <br>

<button type="submit" >Insert Order</button>
<button type="button" onclick="window.location.href = '/cart'">Checkout </button>

<br>
</form>


<script language='JavaScript' type='text/javascript'>

function additions(checkbox, additions) {
 var up = document.getElementById("Price").value;
 up = checkbox.checked ? parseFloat(up) + parseFloat(additions) : parseFloat(up) - parseFloat(additions);
document.getElementById("Price").value = up;
calcTotal()
}
function calcTotal() {
   var up = document.getElementById("Price");
   var un = document.getElementById("Number");
   var t = up.value * un.value;
   document.getElementById("total").value = t;
}
calcTotal();
function ChangePicture() {

   if (document.querySelector('input[name="radio1"]:checked').value === "Ma") {
       document.getElementById("pizzaPicture").src = "http://www.sugardale.com/sites/default/files/stuffed%20crust%20pizza.jpg";
       document.getElementById("Price").value = "5";
       calcTotal()
   } else if (document.querySelector('input[name="radio1"]:checked').value === "Mp") {
       document.getElementById("pizzaPicture").src = "https://www.papajohns.com/static-assets/a/images/web/product/pizzas/sausage-slate-compressed.jpg";
       document.getElementById("Price").value = "7";
       calcTotal()
   } else if (document.querySelector('input[name="radio1"]:checked').value === "Sic") {
       document.getElementById("pizzaPicture").src = "https://www.papajohns.com/static-assets/a/images/web/product/garlic-parm-crust/garlic-parm-sausage-compressed.jpg"
       document.getElementById("Price").value = "11";
       calcTotal()

   } else if (document.querySelector('input[name="radio1"]:checked').value === "Nap") {
       document.getElementById("pizzaPicture").src = "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ1KqZEBJ3GBv_dhrapZgiQ0hdzL-_KNIhXJZXXzGJyMPpxN6Lc";
       document.getElementById("Price").value = "4";
       calcTotal()

}}


</script>

</body>
</html>